name: README.md Updater
description: Automatically updates the README.md file of this repository, this is NOT a reusable workflow

on:
    workflow_dispatch:
    push:
        paths:
            - '**/*.ts'
            - '**/*.tsx'
            - '**/*.yml'
            - '**/*.yaml'
            - 'Dockerfile'
            - '**/*.sh'

env:
    IMAGE_NAME: bracketed/actions-manager

jobs:
    update:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout Project
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  submodules: true
            - name: Initialise Repository
              run: git init

            - name: Configure Git
              uses: Bracketed/Workflows/actions/git-configure@main
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.IMAGE_NAME }}

            - name: Build
              uses: docker/build-push-action@v6
              with:
                  tags: ${{ steps.meta.outputs.tags }}
                  annotations: ${{ steps.meta.outputs.annotations }}
                  push: false
                  context: .
                  secrets: |
                      GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}

            - name: Run Publish Action
              run: docker run --env GH_TOKEN=${{ secrets.GITHUB_TOKEN }} --rm ${{ env.IMAGE_NAME }}:main
